.project {
  width: 100%;
  height: 650px;
  background-color: #eeeeee;
  align-content: center;

  .project-title {
    text-align: center;
    padding-top: 80px;
    font-size: 32px;
    font-family: "Optima";
    font-weight: 600;
  }

  .project-card {
    padding: 40px 40px 0px 40px;
  }
}

.singleproject {
  float: left;
  width: 33%;
  padding: 10px 0px;

  .singleproject-title {
    text-align: center;
    font-family: "Verdana";
    font-size: 16px;
    text-transform: uppercase;
  }
  .singleproject-description {
    padding: 20px 45px;
    height: 70px;
    width: 300px;
    font-family: "Verdana";
    font-size: 12px;
    color: #484848;
  }

  .singleproject-image {
    padding: 20px 20px 0px 45px;
    max-width: 300px;
    height: 180px;
  }

  .singleproject-button {
    font-family: "Verdana";
    color: #e7e7e7;
    padding: 12px 28px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: cadetblue;
    border: 2px solid cadetblue;
    margin: 0px 0 0px 50%;
    transform: translate(-50%, 0);
  }

  .singleproject-button:hover {
    background-color: #e7e7e7;
    color: cadetblue;
  }
}

@media only screen and (max-width: 480px) {
  div.project {
    height: 1400px;
    width: 100%;

    .singleproject {
      text-align: center;
      width: 100%;
      margin-top: 20px;

      .singleproject-image {
        margin: auto;
        width: 250px;
        height: 150px;
      }

      .singleproject-description {
        height: 40px;
        width: 250px;
      }

      .singleproject-button {
        margin-bottom: 20px;
        margin: 0px 0 0px 50%;
        transform: translate(-55%, 0);
      }
    }
  }
}
