.header {
  width: 100%;
  height: 55px;
  background-color: #f8f8ff;

  .left-title {
    float: left;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 10px 20px 50px;
    font-family: "Verdana";
    font-size: 14px;
  }
  .right-nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      margin-top: 5px;
      float: right;
      cursor: pointer;
    }

    li a {
      display: block;
      color: cadetblue;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.4s;
    }

    li a:hover:not(.active) {
      background-color: #006996;
      color: white;
    }

    .active {
      background-color: #4caf50;
    }
  }
}

@media only screen and (max-width: 480px) {
  div.header {
    width: 100%;

    .right-nav {
      display: none;
    }
  }
}
